---
layout: default
---

<!-- Main Jumbotron -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <!--<div class="intro-lead-in">Welcome To Our Studio!</div>-->
      <div class="intro-heading /*text-uppercase*/">ConnHex</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.play-now-address }}" target="_blank">PLAY NOW<br><small>(Beta Version)</small></a>
    </div>
  </div>
</header>

<!-- The game -->
<!-- (At this point you should have lost The Game) -->
<section id="game" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">The Game</h2>
        <h3 class="section-subheading text-muted" style="margin-bottom:20px">Destroy the enemy core to win!</h3>
        <h3 class="section-subheading text-muted">Use your smartphone to control your spaceship, go to <a href="https://www.airconsole.com/">www.airconsole.com</a> or download the app (for <a href="https://play.google.com/store/apps/details?id=com.airconsole.controller">Android</a> and <a href="https://itunes.apple.com/us/app/airconsole/id1017688554">IOS</a>). Click on "play now!" to start the game and insert the code shown on your pc</h3>
      </div>
    </div>
    <div class="row text-center">
      {% for instruction in site.instructions %}
      <div class="col-lg-3 col-md-6">
        <div class="paragraph">
          <img class="mx-auto rounded-circle" src="{{instruction.image}}" />
          <h4 class="service-heading">{{instruction.title}}</h4>
          <p>{{instruction.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Global Game Jam section -->
<section id="ggj" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="paragraph">
        <h2 class="section-heading text-uppercase">ConnHex was the winner of the Turin Global Game Jam 2018!</h2>
        <h3 class="section-subheading">ConnHex was developed in 48 hours during the Global Game Jam in Turin, winning the <strong>Best Total Global Game</strong> prize!<br/>
        Take a look at the game's page on the <a href="https://globalgamejam.org/2018/games/connhex" target="_blank">Global Game Jam site</a>!</h3>
        <img class="mx-auto rounded-circle" src="/img/ggj17_website_presskitheader.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team section -->
<section class="bg-dark" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">AR/VR developers during the day, game developers at night</h3>
      </div>
    </div>
    <div class="row">
      {% for user in site.team %}
      <div class="col-md-6 col-lg-3">
        <div class="team-member">
          {% if user.picture %}
          <img class="mx-auto rounded-circle" src="{{user.picture}}" alt=""> {% else %}
          <img class="mx-auto rounded-circle" src="/img/team/profile-placeholder.gif" alt=""> {% endif %}
          <h4>{{user.name}}</h4>
          <p class="text-muted">{{user.role}}</p>
          <ul class="list-inline social-buttons">
            {% for social in user.socials %}
            <li class="list-inline-item">
              <a href="{{social[1]}}" target="_blank">
                {% if social[0] == "website" %}
                <i class="fa fa-globe"></i>
                {% else %}
                <i class="fa fa-{{social[0]}}"></i>
                {% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Donation -->
    <section id="donation">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Do you like our work?</h2>
            <h3 class="section-subheading">Please, support us!</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x paypal-button"></i>
              <i class="fa fa-paypal fa-stack-1x"></i>
            </span>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="7R3F53KDZZ2P2">
            <input type="image" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal è il metodo rapido e sicuro per pagare e farsi pagare online.">
            <img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>
        </div>
      </div>
    </section>
