<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; ConnHex 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          {% for social in site.socials %}
          <!-- {{ social }} -->
          <!-- {{ social["twitter"] }} -->
          <!-- {{ social[0] }} -->
          <!-- {{ social[0] }} -->
          <li class="list-inline-item">
            <a href="{{ social[1] }}"><i class="fa fa-{{ social[0] }}"></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a target="_blank" href="https://privacypolicies.com/privacy/view/fIDyxD">Privacy policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/agency.min.js"></script>¯